<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cirico Simulation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Rajdhani:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="top-icons">
        <a href="https://github.com/HenriqueKnaul/cirico-simulation" target="_blank" class="icon-wrapper">
            <i class="bx bxl-github icon"></i>
        </a>
    </div>

    <div class="container">
        <div class="logo-area">
            <img src="/img/logo.png" alt="Logo Cirico Iron Gym" class="logo-image">
        </div>

        <h1 class="title">Cirico Simulation</h1>

        <button class="btn-start" onclick="window.location.href='/select-layout'">START</button>
    </div>

</body>
</html>