<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cirico Simulation</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Rajdhani:wght@600;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <a href="/" class="back-link">
        <i class="bx bx-left-arrow-alt icon-nav"></i>
    </a>

    <a href="https://github.com/HenriqueKnaul/cirico-simulation" target="_blank" class="git-link">
        <i class="bx bxl-github icon-nav"></i>
    </a>

    <div class="container">
        <div class="logo-area">
            <img src="/img/logo.png" alt="Logo Cirico Iron Gym" class="logo-image">
        </div>

        <h1 class="title">Select Layout:</h1>

        <div class="button-group">
            <button class="btn-layout" onclick="window.location.href='/config?gymId=1'">Original Layout</button>
            <button class="btn-layout" onclick="window.location.href='/config?gymId=2'">DoubleSize Layout</button>
        </div>
    </div>

</body>
</html>